.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 135px;
}

/* header */
header {
    padding: 32px 80px;
    display: flex;
    position: fixed;
    max-width: inherit;
    align-items: center;
    justify-content: space-between;
    background: #372D23;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

ul {
    justify-content: center;
    display: flex;
    column-gap: 48px;
}

.list {
    color: #B89278;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.Active {
    color: #ED6C30;
}

/* section */

.section1 {
    height: 640px;
    position: relative;
}

.sectionContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.coverPic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sectionButton {
    background-color: transparent;
    color: #FFF;
    font-family: Inter;
    line-height: 28px;
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    padding: 12px 38px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 30px;
}

h2 {
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: Inter;
    line-height: 56px;
    margin-bottom: 44px;
    font-size: 48px;
    font-weight: 700;
}


button:hover {
    color: #eeeaed;
    background-color: black;
    filter: drop-shadow(0 0 20px #dbd13e) contrast(2) brightness(2);
    border: none;
}

/* section2 */

.section2 {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding: 80px 80px;

}

.cardContainer {
    width: 400px;
    height: 320px;
    position: relative;
}

.cardImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cardContent {
    background-color: rgba(55, 45, 35, 0.8);
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.cardTxt {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


/* article */
.article {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.txt {
    font-weight: 700;
    line-height: 48px;
    color: #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}


.articleTxt {
    width: 1060px;
    color: #855C52;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.articleButton {
    background: #ED6C30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    line-height: 28px;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 700;
}

/* footer */

footer {
    background-color: #372D23;
    display: flex;
    justify-content: space-between;
    padding: 32px 300px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.footerList {
    display: flex;
    row-gap: 8px;
    margin-top: 16px;
    flex-direction: column;
}

.menuElements {
    color: #B89278;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
}


.iconsContainer {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
    align-items: top;
}

.contactTxt {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}


.icons {
    color: #FCC21B;
    font-size: 20px;
    gap: 16px;
}